@font-face {
    font-family: founder;
    src: url(./FoundersGrotesk-Bold.woff2);
    font-weight: 600;
}
@font-face {
    font-family: founder;
    src: url(./FoundersGrotesk-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: founder;
    src: url(./FoundersGrotesk-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: founder;
    src: url(./FoundersGrotesk-Light.woff2);
    font-weight: 300;
}
*{
margin:0;
padding: 0;
box-sizing: border-box;
}
html,body{
font-family: founder;
width: 100%;
background-color: #D6D2CE;
}
#menu>i{
    position: absolute;
    z-index: 99999;
    font-size: 3vw;
    right: 5%;
    top: 5%;
}
#menu{
    height: 100vh;
    width: 100%;
    top: -100%;
    position: absolute;
    z-index: 99999;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    display: none;
    color: #46484B;
    background-color: #e3e1e1;
    display: flex;
    justify-content: center;
    border: 1vw solid #e3e1e1;
    flex-direction: column;
    align-items: center;
}
#magazine{
    margin-left: 5%;
    margin-top: 10%;
}
#magazine a{
    font-size: 1vw;
    margin-right: 8%;
    color: #46484B;
    text-transform: uppercase;
    text-decoration: none;
}
#menutxt{
    height: 100%;
    width: 35%;
    z-index: 999;
    text-align: center;
    padding-top: 8%;
}
#menutxt:hover{

    background-color: #e3e1e1;

}
#menu h1{
    font-size: 5vw;
    z-index: 999;
    text-transform: uppercase;
    font-weight: 400;
}
#menu h1:hover{
    color: #46484bbd;
}
#menuvideo{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#menuvideo video{
    transition: all linear 0.3s;
    opacity: 0;
    z-index: 999;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
}
#nav{
    height: 20vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
#left,#right{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
#right a{
    color: #46484B;
    text-decoration: none;
    font-size: 1.3vw;
    margin-left: 5%;
}
#right i{
    margin-left: 10%;
    font-size: 1.7vw;
    color: #46484B;
}
#txt{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9999;
    flex-direction: column;

}
#txt h1{
    white-space: nowrap;
    font-size: 8vw;
    font-weight: 400;
    line-height: 7.5vw;
    color: #46484B;
    text-transform: uppercase;
}

#page2{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -8%;
    height: 100vh;
    width: 100%;
}
#page2 video{
    position: absolute;
    width: 90%;
    object-fit: cover;
}
#play{
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #46484B;
    width: 8vw;
    transition: all linear .3s;
    border-radius: 50%;
    background-color: white;
}
#play:hover{
    background-color: #46484B;
    color: white;
}
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
}
#page3txt1{
    position: absolute;
    top: 35%;
    left: 10%;
}
#page3txt1 h1{
    font-weight: 300;
    line-height: 4vw;
    color: #46484B;
    font-size: 4vw;
}
#page3txt2{
    position: absolute;
    right: 8%;
    bottom: 5%;
    width: 32%;
    font-size: 1.3vw;
    color: #46484B;
}
#page3txt2 p{
    font-weight: 300;
}
#page3 button,#slides button{
    position: absolute;
    bottom: 5%;
    left: 10%;
    z-index: 99;
    height: 3.5vw;
    font-size: 1.2vw;
    display: flex;
    justify-content: space-evenly;
    border: none;
    align-items: center;
    border-radius: 100px;
    transition: all linear .2s;
    overflow: hidden;
    width: 10vw;
    color: #46484B;
}
#slides button{
    bottom: 15%;
    background-color: #2d2f30;
    color: white;
}
#slides button #circle{
    background-color: white;
    color: #2d2f30;
}
#circle{
    height: 1vw;
    width: 1vw;
    transition: all linear .2s;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #46484B;
    border-radius: 50%;
    overflow: hidden;
}
#circle i{
    position: absolute;
    transition: all linear .2s;
    left: -10%;
}
#page3 button:hover #circle{
    height: 2.7vw;
    width: 2.7vw;
}
#page3 button:hover{
    scale: 1.1;
}
#page3 button:hover #circle i{
    left: 17%;
}
#slides button:hover #circle{
    height: 2.7vw;
    width: 2.7vw;
}
#slides button:hover{
    scale: 1.1;
}
#slides button:hover #circle i{
    left: 13%;
}

#page4{
    height: 100vh;
    width: 100%;
}
#slides{
    position: relative;
    height: 100%;
    width: 100%;
}
#slide1{
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
#slide2,#slide3,#slide4,#slide5{
    overflow: hidden;
    top: 100%;
    position: absolute;
    height: 100%;
    width: 100%;
}
#page4 img{
    width: 100%;
    object-fit: cover;
    filter: brightness(.7);
}
#slides h1,#slides h2{
    position: absolute;
    z-index: 99;
    top: 45%;
    left: 10%;
    font-weight: 400;
    font-size: 4vw;
    color: white;
}
#slides h2{
    font-size: 2vw;
    font-weight: 100;
    top: 40%;
    left: 10.2%;
}
#slides>h3{
    position: absolute;
    z-index: 9999;
    top: 15%;
    font-size: 1.5vw;
    left: 10%;
    font-weight: 400;
    color: white;
}
#slidesvideo{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px rgba(163, 163, 163, 0.687);
    position: relative;
    z-index: 99;
    height: 22vw;
    transform: translate(130%, 100%);
    overflow: hidden;
    width: 40vw;
}
#vid1,#vid2,#vid3,#vid4,#vid5{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
#vid2,#vid3,#vid4,#vid5{
    left: 100%;  
}
#slidesvideo video{
    width: 100%;
    object-fit: cover;
}
#bar{
    width: 0%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    border-radius: 100px;
    height: .3vw;
    background-color: rgb(255, 255, 255);
}
#page5{
    height: 80vh;
    width: 100%;
    color: #46484B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#page5 h1{
    font-weight: 400;
    font-size: 8vw;
    text-transform: uppercase;
}
#page6{
    position: relative;
    height: 100vh;
    width: 100%;
}
#page6top{
    position: absolute;
    top: 0;
    padding-bottom: 2%;
    flex-shrink: 0;
    height: 50%;
    width: 100%;
    gap: 3%;
    display: flex;
    align-items: end;
}
#page6bottom{
    bottom: 0;
    position: absolute;
    padding-top: 2%;
    flex-shrink: 0;
    height: 50%;
    width: 100%;
    gap: 3%;
    display: flex;
    align-items: start;
}
#page6top img,#page6bottom img{
    flex-shrink: 0;
}
#page6top img:nth-child(1){
    height:  70%;
}
#page6top img:nth-child(2){
    height:  50%;
}
#page6top img:nth-child(3){
    height:  94%;
}
#page6top img:nth-child(4){
    height:  74%;
}
#page6top img:nth-child(5){
    height:  50%;
}

#page6bottom img:nth-child(1){
    height:  50%;
}
#page6bottom img:nth-child(2){
    height:  70%;
}
#page6bottom img:nth-child(3){
    height:  90%;
}
#page6bottom img:nth-child(4){
    height:  50%;
}
#page6bottom img:nth-child(5){
    height:  74%;
}
#page4,#page5,#page6{
    background-color: #CAC7C3 ;
}
#page7{
    height: 170vh;
    position: relative;
    width: 100%;
}
#page7 img:nth-child(1){
    position: absolute;
    z-index: 99;
    width: 30%;
    left: 5%;
    top: 5%;
}
#page7 img:nth-child(3){
    position: absolute;
    z-index: 99;
    width: 25%;
    right: 5%;
    bottom:  5%;
}
#page7 video{
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translate(-50%, 0);
    width: 80%;
}
#page7 h1:nth-child(4){
    font-weight: 400;
    position: absolute;
    z-index: 99;
    left: 9%;
    color: #46484B;
    font-size: 16vw;
    bottom: 24.5%;
    text-transform: uppercase;
}
#page7 h1:nth-child(5){
    font-weight: 400;
    position: absolute;
    z-index: 99;
    left: 32%;
    color: #46484B;
    font-size: 16vw;
    bottom: 12.5%;
    text-transform: uppercase;
}
#page7txt{
    position: absolute;
    z-index: 99;
    left: 10%;
    bottom:  -8%;
}
#page7txt h1{
    font-size: 4vw;
    line-height: 4vw;
    color: #46484B;
    font-weight: 300;
    text-transform: uppercase;
}
#footer{
    margin-top: 13%;
    height: 60vh;
    width: 80%;
    margin-left: 10%;
    position: relative;
}
#footernav{
    height: 17vh;
    width: 100%;
    border-top: 1px solid #2d2f30;
    justify-content: center;
    color: #46484B;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #2d2f30;
}
#fnav1,#fnav2{
    display: flex;
    align-items: center;
}
#fnav2{
    padding-left: 2%;
}
#fnav2 h1{
    font-weight: 400;
    margin-right: 27%;
    white-space: nowrap;
    font-size: 2vw;
    position: relative;
}
#fnav2 h1::after{
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: #2d2f30;
    bottom: 0;
}
#fnav2 h1:nth-child(3){
    margin-left: -11%;
}
#f1{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#f1 h3{
    font-weight: 500;
    white-space: nowrap;
}
#circ{
    flex-shrink: 0;
    height: 1vw;
    margin-right: 3%;
    width: 1vw;
    border-radius: 50%;
    background-color: #46484B;
}
#footbox{
    width: 100%;
    height: 40vh;
    display: flex;
}
#fleft,#fright{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#fleft,#fright{
    justify-content: space-evenly;
}
#fleft form{
    position: relative;
}
#fleft form input{
    height: 12vh;
    width: 60vh;
    border-radius: 100px;
    outline: none;
    border: none;
    padding-left: 5%;
    background-color: #46484b14;
    font-size: 1vw;
}
#fleft form::after{
    content: "SUBSCRIBE";
    position: absolute;
    right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    top: 0;
    height: 100%;
    width: 30%;
    background-color: white;
    color: #46484B;
}

#footbox h1{
    font-weight: 300;
    font-size: 4vw;
    text-transform: uppercase;
    color: #46484B;
}
#icons{
    display: flex;
    gap: 2%;
}
#i1{
    height: 5.5vw;
    width: 5.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all linear 0.2s;
    align-items: center;
    font-size: 2vw;
    background-color: white;
    color: #46484B;
}
#i1:hover{
    scale: 1.1;
    background-color: #46484be7;
    color: white;
}

/* code for responsive. */ /* code for responsive. */ /* code for responsiv e. */ /* code for responsive. */ /* code for responsive. */ /* code for responsive. */ /* code for responsive. */

@media (max-width:600px) {
    #main{
        overflow-x: hidden;
    }
    #page1{
        height: 40vh;
        width: 100%;
        position: relative;
    }
    #nav{
        height: 10vh;
        width: 100%;
        justify-content: space-between;
        display: flex;
    }
    #left,#right{
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        padding-left: 5%;
    }
    #left svg{
        width: 60%;
    }
    #right a{
        color: #46484B;
        text-decoration: none;
        font-size: 1.3vw;
        display: none;
        margin-left: 5%;
    }
    #right i{
        margin-left: 70%;
        font-size: 6vw;
        color: #46484B;
    }
    #txt{
        position: absolute;
        top:120%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: center;
        align-items: center;
        display: flex;
        z-index: 9999;
        flex-direction: column;
    
    }
    #txt h1{
        white-space: nowrap;
        font-size: 8vw;
        font-weight: 400;
        line-height: 7.5vw;
        color: #46484B;
        text-transform: uppercase;
    }
    
    #page2{
        position: relative;
        display: flex;
        justify-content: center;
        height: 27vh;
        width: 100%;
    }
    #page2 video{
        position: absolute;
        width: 90%;
        object-fit: cover;
    }
    #play{
        position: absolute;
        z-index: 999;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 12vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #46484B;
        width: 12vw;
        font-size: 2vw;
        transition: all linear .3s;
        border-radius: 50%;
        background-color: white;
    }
    #play:hover{
        background-color: #46484B;
        color: white;
    }
    #page3{
        height: 35vh;
        width: 100%;
        position: relative;
    }
    #page3txt1{
        position: absolute;
        top: 15%;
        left: 10%;
    }
    #page3txt1 h1{
        font-weight: 300;
        line-height: 4vw;
        color: #46484B;
        font-size: 4vw;
    }
    #page3txt2{
        position: absolute;
        right: 8%;
        bottom: 10%;
        width: 32%;
        font-size: 2vw;
        color: #46484B;
    }
    #page3txt2 p{
        font-weight: 300;
    }
    #page3 button,#slides button{
        position: absolute;
        bottom: 15%;
        left: 10%;
        z-index: 99;
        height: 3.5vw;
        font-size: 1.2vw;
        display: flex;
        justify-content: space-evenly;
        border: none;
        align-items: center;
        border-radius: 100px;
        transition: all linear .2s;
        overflow: hidden;
        width: 10vw;
        color: #46484B;
    }
    #slides button{
        top: 22%;
        display: none;
        background-color: #2d2f30;
        color: white;
    }
    #slides button #circle{
        background-color: white;
        color: #2d2f30;
    }
    #circle{
        height: 1vw;
        width: 1vw;
        transition: all linear .2s;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #46484B;
        border-radius: 50%;
        overflow: hidden;
    }
    #circle i{
        position: absolute;
        transition: all linear .2s;
        left: -10%;
    }
    #page3 button:hover #circle{
        height: 2.7vw;
        width: 2.7vw;
    }
    #page3 button:hover{
        scale: 1.1;
    }
    #page3 button:hover #circle i{
        left: 17%;
    }
    #slides button:hover #circle{
        height: 2.7vw;
        width: 2.7vw;
    }
    #slides button:hover{
        scale: 1.1;
    }
    #slides button:hover #circle i{
        left: 13%;
    }
    #page4{
        position: relative;
        height: 28vh;
        width: 100%;
    }
    #slides{
        position: relative;
        height: 100%;
        width: 100%;
    }
    #slide1{
        position: absolute;
        top: 0;
    box-shadow: 0px 0px 10px 10px rgba(163, 163, 163, 0.687);
    height: 100%;
        width: 100%;
    }
    #slide2,#slide3,#slide4,#slide5{
    box-shadow: 0px 0px 10px 10px rgba(163, 163, 163, 0.687);

        position: absolute;
        height: 100%;
        width: 100%;
    }
    #slide2{
        top: 110%;
    }
    #slide3{
        top: 220%;
    }
    #slide4{
        top: 330%;
    }
    #slide5{
        top: 440%;
    }
    #page4 img{
        width: 100%;
        object-fit: cover;
        filter: brightness(.7);
    }
    #slides h1,#slides h2{
        position: absolute;
        z-index: 99;
        top: 30%;
        left: 10%;
        font-weight: 400;
        font-size: 4vw;
        color: white;
    }
    #slides h2{
        font-size: 2vw;
        font-weight: 100;
        top: 16%;
        left: 10.2%;
    }
    #slides>h3{
        position: absolute;
        z-index: 9999;
        top: 10%;
        font-size: 1.5vw;
        left: 10%;
        font-weight: 400;
        color: white;
    }
    #slidesvideo{
        border-radius: 5px;
        overflow: visible;
        position: absolute;
        box-shadow: 0px 0px 10px 10px rgba(163, 163, 163, 0.687);
        z-index: 99;
        height: 22vw;
        /* width: 40vw; */
    }
    #vid1,#vid2,#vid3,#vid4,#vid5{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    #vid2{
        top: 310%;
    }
    #vid3{
        top: 580%;
    }
    #vid4{
        top: 860%;
    }
    #vid5{
        top: 1140%;
    }
    #slidesvideo video{
        width: 100%;
        object-fit: cover;
    }
    #bar{
        width: 0%;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        border-radius: 100px;
        height: .3vw;
        background-color: rgb(255, 255, 255);
    }
    #page5{
        height: 40vh;
        margin-top: 240%;
        width: 100%;
        color: #46484B;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #page5 h1{
        font-weight: 400;
        font-size: 8vw;
        text-transform: uppercase;
    }
    #page6{
        position: relative;
        height: 50vh;
        margin-top: -15%;
        width: 100%;
    }
    #page6top{
        position: absolute;
        top: 0;
        padding-bottom: 5%;
        flex-shrink: 0;
        height: 50%;
        width: 100%;
        gap: 3%;
        display: flex;
        align-items: end;
    }
    #page6bottom{
        bottom: 0;
        position: absolute;
        padding-top: 5%;
        flex-shrink: 0;
        height: 50%;
        width: 100%;
        gap: 3%;
        display: flex;
        align-items: start;
    }
    #page6top img,#page6bottom img{
        flex-shrink: 0;
    }
    #page6top img:nth-child(1){
        height:  30%;
    }
    #page6top img:nth-child(2){
        height:  20%;
    }
    #page6top img:nth-child(3){
        height:  54%;
    }
    #page6top img:nth-child(4){
        height:  24%;
    }
    #page6top img:nth-child(5){
        height:  30%;
    }
    
    #page6bottom img:nth-child(1){
        height:  20%;
    }
    #page6bottom img:nth-child(2){
        height:  50%;
    }
    #page6bottom img:nth-child(3){
        height:  30%;
    }
    #page6bottom img:nth-child(4){
        height:  50%;
    }
    #page6bottom img:nth-child(5){
        height:  24%;
    }
    /* #page4,#page5,#page6{
        background-color: #CAC7C3 ;
    } */
    #page7{
        height: 42vh;
        position: relative;
        width: 100%;
    }
    #page7 img:nth-child(1){
        position: absolute;
        z-index: 99;
        width: 30%;
        left: 5%;
        top: 5%;
    }
    #page7 img:nth-child(3){
        position: absolute;
        z-index: 99;
        width: 25%;
        right: 5%;
        bottom:  5%;
    }
    
    #page7 video{
        position: absolute;
        left: 50%;
        top: 17%;
        transform: translate(-50%, 0);
        width: 80%;
    }
    #page7 h1:nth-child(4){
        font-weight: 400;
        position: absolute;
        z-index: 99;
        left: 9%;
        color: #46484B;
        font-size: 16vw;
        bottom: 24.5%;
        text-transform: uppercase;
    }
    #page7 h1:nth-child(5){
        font-weight: 400;
        position: absolute;
        z-index: 99;
        left: 32%;
        color: #46484B;
        font-size: 16vw;
        bottom: 12.5%;
        text-transform: uppercase;
    }
    #page7txt{
        position: absolute;
        z-index: 99;
        left: 10%;
        bottom:  -8%;
    }
    #page7txt h1{
        font-size: 4vw;
        line-height: 4vw;
        color: #46484B;
        font-weight: 300;
        text-transform: uppercase;
    }
    #footer{
        margin-top: 23%;
        height: 20vh;
        width: 80%;
        margin-left: 10%;
        position: relative;
    }
    #footernav{
        height: 7vh;
        width: 100%;
        border-top: 1px solid #2d2f30;
        justify-content: center;
        color: #46484B;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #2d2f30;
    }
    #f1 h3{
        font-size: 3vw;
    }
    #fnav1,#fnav2{
        display: flex;
        align-items: center;
    }
    #fnav2{
        padding-left: 2%;
    }
    #fnav2 h1{
        font-weight: 400;
        margin-right: 27%;
        white-space: nowrap;
        font-size: 2vw;
        position: relative;
    }
    #fnav2 h1::after{
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        height: 1px;
        background-color: #2d2f30;
        bottom: 0;
    }
    #fnav2 h1:nth-child(3){
        margin-left: -11%;
    }
    #f1{
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    #f1 h3{
        font-weight: 500;
        white-space: nowrap;
    }
    #circ{
        flex-shrink: 0;
        height: 1vw;
        margin-right: 3%;
        width: 1vw;
        border-radius: 50%;
        background-color: #46484B;
    }
    #footbox{
        width: 100%;
        height: 20vh;
        display: flex;
    }
    #fleft,#fright{
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    #fleft,#fright{
        justify-content: space-evenly;
    }
    #fleft h1{
        margin-top: 6%;
    }
    #fleft form{
        position: relative;
    }
    #fleft form input{
        height: 6vh;
        width: 16vh;
        border-radius: 100px;
        outline: none;
        border: none;
        padding-left: 5%;
        background-color: #46484b14;
        font-size: 1vw;
    }
    #fleft form::after{
        content: "SUBSCRIBE";
        position: absolute;
        right: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        top: 0;
        height: 100%;
        font-size: 2vw;
        width: 30%;
        background-color: white;
        color: #46484B;
    }
    
    #footbox h1{
        font-weight: 300;
        font-size: 4vw;
        text-transform: uppercase;
        color: #46484B;
    }
    #icons{
        display: flex;
        gap: 2%;
    }
    #i1{
        height: 5.5vw;
        width: 5.5vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        transition: all linear 0.2s;
        align-items: center;
        font-size: 2vw;
        background-color: white;
        color: #46484B;
    }
    #i1:hover{
        scale: 1.1;
        background-color: #46484be7;
        color: white;
    }
    
}
